.academy-photo {
    display: flex;
    flex: 1 1 300px;
    position: relative;
}

.academy-photo > i {
    position: absolute;
}

.subtitle {
    font-weight:bold ;
}

.atividade {
    font-size: 2rem;
    
}