.container-photo {
width: 100%;
display: flex;
gap: 2rem;
padding: 2rem;
}

.serviceText {
    text-align: center;
    margin-top: 20px;  
 }
 
 .serviceText > p {
    color: #fff  
 }
 .serviceBica {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #97cea0;
    padding: 10px;
}

.serviceBica > i {
    position: absolute;
}

@media (max-width: 428px) {
    .container-photo {
        flex-direction: column;       
    }
}


 