.container-photo {
width: 100%;
display: flex;
gap: 2rem;
padding: 2rem;
}

.service-text {
    text-align: center;
    margin-top: 20px;   
 }
 
 .service-text > h3 {
     color: #9acd32;
 }

 .serviceBica {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #97cea0;
    padding: 10px;
}

.serviceBica > i {
    position: absolute;
}

.serviceBica p {
    color: #fff;
}

 