.footer-footer  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-footer span {
    color: #fff;
}

.footer-footer  i {
    background-color: transparent;
    font-size: 1.5rem;
}

.footer-footer, .footerIcons {
    margin-top: 10px;
}

.link i {
    color: #2ed6ff;
    transition: all 250ms;
}

.link i:hover {
    filter: brightness(1.2);
    color: #fff;
}

@media (max-width: 320px) {
    .footer-footer i {
        display: inline-block;
        width: 1px;
    }
}


@media (max-width: 360px) {
    .footer-footer i {
            display: inline-block;
            width: 1px;
    }
}