.form-maps {
    display: flex;
    background-color: #25c23f;
    border: 2px solid yellow;
}

.form-maps > i {
    position: absolute;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin-top: 22.5px;
}
