.main-header {
    display: flex;
    align-items: baseline;
    min-height: 90vh;
    justify-content: space-between;
    margin-bottom: 20px;
    background-image: url(../../asset/lago.jpg);
    background-size: cover;
    margin-bottom: 40px;
}