.main-main {
    display: flex;
    flex-wrap:wrap;
    gap: 2rem;
}

.mainAcademy {
    display: flex;
    flex-direction: column;
    flex: 2 1 0;
    flex-wrap: wrap;
    justify-content: center;
    text-align: right;
    gap: 2rem;
}

.paragraph.-academy {
    font-weight: bold ;
    text-align: center;
    padding: 10px;
}

.textAcademy {
    font-size: 2rem;
    padding: 10px;    
}

.academyPhoto {
    display: flex;
    flex: 1 1 300px;
    position: relative;
    width: 100%;
}

.academyPhoto > i {
    position: absolute;
}

@media (max-width: 428px) {
    .main-main .mainAcademy {
        flex-direction: row;
        text-align: center;
    }

    .main-main .academyPhoto {
        margin: 0px 10px;
    }
}