* {
    font-family: 'Lato';
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}


img {
    width: 100%;
}

a {
    text-decoration: none ;
}

i {
    color: #fff;
    padding: 2rem;
    font-size: 2.5rem;
    background-color: #9acd32
}

body {
    background-color: #6bcc7b;
}

