.section-about {
    display: flex;
    background-image: url(../../asset/trilha.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.ri-whatsapp-line.-wpp {
    background-color: transparent;
    color: black;
}

.ri-leaf-line.-wpp {
    background-color: transparent;
    color: black;
}