.section-about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    color: #000;
}

.ri-whatsapp-line.-wpp {
    background-color: transparent;
    color: black;
}

.ri-leaf-line.-wpp {
    background-color: transparent;
    color: black;
}

.aboutBica {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 3rem;
    background-image: url(../../asset/tartaruga.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    gap: 2rem  
}

.aboutText {
    display: flex;
    flex: 1 1 0;
    flex-wrap: wrap;
    padding: 2rem;
}

.aboutDados {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin-top: -1px;
    margin-left: -1px;
}

.aboutDados:first-child {
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
}

.aboutDados:last-child {
    border-top: 2px solid #000;
    border-left: 2px solid #000;
}