.service-bica {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #97cea0;
    padding: 10px;
}

.service-bica > i {
    position: absolute;
}

.service-bica p {
    color: #fff;
}

