.testmonials-people {
    display: flex; 
    flex-wrap: wrap; 
    gap: 2rem;
    align-items: center;

}

.testmonials {
    flex: 2 1 0;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}

.author {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}

.author > img {
    height: 100%;
    width: 100%;
}

.photo {
    display: flex;
    flex-direction: column;
    position: relative;
    border: 2px solid red;
}

.photo > i {
    position: absolute;
}