.testmonials-people {
    display: flex; 
    gap: 2rem;
    align-items: center;
    margin-bottom: 30px;
}

.testmonials-people  p {
    color: #fff;
}


.testmonials {
    flex: 2 1 0;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: left;
    text-align: right;
    align-items: center;
}


.author {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}

.author > img {
    height: 100%;
    width: 100%;
}

.photo {
    display: flex;
    flex: 1 1 300px;
    position: relative;
}

.photo > i {
    position: absolute;
}

@media (max-width: 420px) {
    .testmonials-people {
        flex-direction: column;       
    }
}